#freq div {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
    background-color: #b4e85e;
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.1s;
	-moz-transition-property: height;
	-moz-transition-duration: 0.1s;
  }
	#main {
		padding: 2em;
	}
	#art-cont {
		border: 1px solid #ccc; display: inline-block;
		margin-top: 1em;
		float: left;
		margin-right: 30px;
	}
	#info {
		position: relative;
	}
	#art {
		visibility:hidden; width: 200px; height: 200px;
	}
	#artist, #album, #track {
		visibility: hidden;
		height: 1em;
		line-height: 1.3em;
		margin-bottom: 3px;
	}
	#play_key {
		display: none;
	}
	#controls {
		padding-top: 3em;
		clear: both;
	}
	#freq {
		position: relative;
		margin-top: 1em;
		height: 200px;
		width: 30px;
		float: left;
	}
	#controls li {
		float: left;
		margin-right: 25px;
		width: 20px;
		height: 20px;
	}
	
	#box {
		position: absolute;
		width: 213px;
		height: 397px;
		border: 1px solid #ccc;
		left: -7px;
		top: -7px;
		
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		
		box-shadow:0px 0px 6px #333333
	}
	#thanks {
		clear: both;
		padding-top: 150px;
	}
	#thanks img {
		margin-right: 50px;
		margin-top: 20px;
	}
	
	
	
	ul {
	    padding:0;
	    margin:0;
	}

	li {
	    position:relative;
	    z-index:1;
	    overflow:hidden;
	    list-style:none;
	    padding:0;
	    margin:0 0 0.25em;
	}

	li a:link, 
	li a:visited {
	    display:block;
	    border:0;
	    padding-left:28px;
	    color:#2385BA;
	}

	li a:hover, 
	li a:focus, 
	li a:active {
	    color:#730800;
	    background:transparent;
	}

	li:before, 
	li:after,
	li a:before, 
	li a:after {
	    content:"";
	    position:absolute;
	    top:50%;
	    left:0;
	}

	li a:before, 
	li a:after {
	    margin:-8px 0 0;
	    background:#2385BA;
	}

	li a:hover:before, 
	li a:focus:before, 
	li a:active:before {
	    background:#730800;
	}

	/* Not links */

	xer,
	.headphones,
	.ribbon,
	.views,
	.location,
	.info,
	.help,
	.pie,
	.success,
	.success-alt,
	.warning,
	.denied {
	    padding-left:28px;
	}



	

	/* PLAY
	------------------------------------------------------------------------------------------------------------------------------- */

	.play a:before {
	    width:16px;
	    height:16px;
	    /* css3 */
	    -webkit-border-radius:16px;
	    -moz-border-radius:16px;
	    border-radius:16px;
	}

	.play a:after {
	    left:7px;
	    border:4px solid transparent;
	    border-left-color:#fff;
	    margin-top:-4px;
	    background:transparent;
	}

	/* Alternative style */

	.play-alt a:before {
	    left:2px;
	    border:8px solid transparent;
	    border-width:8px 12px;
	    border-left-color:#c55500;
	    margin-top:-8px;
	    background:transparent;
	}

	.play-alt a:hover:before, 
	.play-alt a:focus:before, 
	.play-alt a:active:before {
	    border-left-color:#730800;
	    background:transparent;
	}

	/* STOP
	------------------------------------------------------------------------------------------------------------------------------- */

	.stop a:before {
	    width:16px;
	    height:16px;
	    /* css3 */
	    -webkit-border-radius:16px;
	    -moz-border-radius:16px;
	    border-radius:16px;
	}

	.stop a:after {
	    left:5px;
	    width:6px;
	    height:6px;
	    margin-top:-3px;
	    background:#fff;
	}

	/* Alternative style */

	.stop-alt a:before {
	    left:1px;
	    width:14px;
	    height:14px;
	    margin-top:-7px;
	}

	/* PAUSE
	------------------------------------------------------------------------------------------------------------------------------- */

	.pause a:before {
	    width:16px;
	    height:16px;
	    /* css3 */
	    -webkit-border-radius:16px;
	    -moz-border-radius:16px;
	    border-radius:16px;
	}

	.pause a:after {
	    left:5px;
	    width:2px;
	    height:8px;
	    border:2px solid #fff;
	    border-width:0 2px;
	    margin-top:-4px;
	    background:transparent;
	}

	/* Alternative style */

	.pause-alt a:before {
	    left:2px;
	    width:4px;
	    height:14px;
	    border:4px solid #c55500;
	    border-width:0 4px;
	    margin-top:-7px;
	    background:transparent;
	}

	.pause-alt a:hover:before, 
	.pause-alt a:focus:before, 
	.pause-alt a:active:before {
	    border-color:#730800;
	    background:transparent;
	}

	/* VOLUME
	------------------------------------------------------------------------------------------------------------------------------- */

	.volume a:before {
	    left:-2px;
	    border:7px solid transparent;
	    border-right-color:#c55500;
	    margin-top:-7px;
	    background:transparent;
	}

	.volume a:after {
	    left:4px;
	    width:4px;
	    height:6px;
	    margin-top:-3px;
	}

	.volume a:hover:before, 
	.volume a:focus:before, 
	.volume a:active:before {
	    border-right-color:#730800;
	    background:transparent;
	}

	.volume a:hover:after, 
	.volume a:focus:after, 
	.volume a:active:after {
	    background:#730800;
	}

	/* Volume on */

	.volume-on:before {
	    left:12px;
	    width:6px;
	    height:6px;
	    margin-top:-5px;
	    border:4px double #c55500;
	    border-width:4px 4px 0 0;
	    /* css3 */
	    -webkit-border-radius:0 15px 0 0;
	    -moz-border-radius:0 15px 0 0;
	    border-radius:0 15px 0 0;
	    -webkit-transform:rotate(45deg);
	    -moz-transform:rotate(45deg);
	    -o-transform:rotate(45deg);
	    transform:rotate(45deg);
	}

	.volume-on:hover:before {
	    border-color:#730800;
	}

	/* Mute */

	.mute:before {
	    width:16px;
	    height:16px;
	    border:1px solid #c55500;
	    margin-top:-9px;
	    /* css3 */
	    -webkit-border-radius:16px;
	    -moz-border-radius:16px;
	    border-radius:16px;
	}

	.mute:after {
	    width:18px;
	    border-top:1px solid #c55500;
	    /* css3 */
	    -webkit-transform:rotate(-45deg);
	    -moz-transform:rotate(-45deg);
	    -o-transform:rotate(-45deg);
	    transform:rotate(-45deg);
	}

	.mute:hover:before,
	.mute:hover:after {
	    border-color:#730800;
	}

	/* Volume up/down */

	.volume-up:before {
	    left:16px;
	    width:2px;
	    height:8px;
	    margin-top:-4px;
	    background:#c55500;
	}

	.volume-up:after,
	.volume-down:after {
	    left:13px;
	    width:8px;
	    height:2px;
	    margin-top:-1px;
	    background:#c55500;
	}

	.volume-up:hover:before,
	.volume-up:hover:after,
	.volume-down:hover:after {
	    background:#730800;
	}

	/* MIC
	------------------------------------------------------------------------------------------------------------------------------- */

	.mic a:before {
	    left:6px;
	    width:7px;
	    height:12px;
	    margin-top:-9px;
	    /* css3 */
	    -webkit-border-radius:4px;
	    -moz-border-radius:4px;
	    border-radius:4px;
	}

	.mic a:after {
	    left:4px;
	    width:9px;
	    height:6px;
	    border-width:0 1px 1px 1px;
	    border-style:solid;
	    border-color:#c55500;
	    margin-top:-2px;
	    background:transparent;
	    /* css3 */
	    -webkit-border-bottom-right-radius:11px;
	    -webkit-border-bottom-left-radius:11px;
	    -moz-border-radius:0 0 11px 11px;
	    border-radius:0 0 11px 11px;
	}

	.mic:before,
	.mic:after {
	    left:9px;
	    width:1px;
	    height:4px;
	    margin-top:4px;
	    background:#c55500;
	}

	.mic:after {
	    left:6px;
	    width:7px;
	    height:1px;
	    margin-top:7px;
	}

	.mic a:hover:after,
	.mic a:focus:after,
	.mic a:active:after {
	    border-color:#730800;
	}

	.mic:hover:before,
	.mic:hover:after {
	    background:#730800;
	}

	/* FAST FORWARD
	------------------------------------------------------------------------------------------------------------------------------- */

	.fforward a:before {
	    left:1px;
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-left-color:#2385BA;
	    margin-top:-4px;
	    background:transparent;
	}

	.fforward a:after {
	    left:7px;
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-left-color:#2385BA;
	    margin-top:-4px;
	    background:transparent;
	}

	.fforward a:hover:before, 
	.fforward a:focus:before, 
	.fforward a:active:before {
	    border-left-color:#730800;
	    background:transparent;
	}

	.fforward a:hover:after, 
	.fforward a:focus:after, 
	.fforward a:active:after {
	    border-left-color:#730800;
	}

	/* FAST REWIND
	------------------------------------------------------------------------------------------------------------------------------- */

	.frewind a:before {
	    left:-6px;
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-right-color:#2385BA;
	    margin-top:-4px;
	    background:transparent;
	}

	.frewind a:after {
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-right-color:#2385BA;
	    margin-top:-4px;
	    background:transparent;
	}

	.frewind a:hover:before, 
	.frewind a:focus:before, 
	.frewind a:active:before {
	    border-right-color:#730800;
	    background:transparent;
	}

	.frewind a:hover:after, 
	.frewind a:focus:after, 
	.frewind a:active:after {
	    border-right-color:#730800;
	}

	/* JUMP FORWARD
	------------------------------------------------------------------------------------------------------------------------------- */

	.next a:before {
	    left:9px;
	    width:2px;
	    height:10px;
	    margin-top:-4px;
	}

	.next a:after {
	    left:2px;
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-left-color:#2385BA;
	    margin-top:-4px;
	    background:transparent;
	}

	.next a:hover:after, 
	.next a:focus:after, 
	.next a:active:after {
	    border-left-color:#730800;
	}

	/* JUMP REWIND
	------------------------------------------------------------------------------------------------------------------------------- */

	.prev a:before {
	    left:2px;
	    width:2px;
	    height:10px;
	    margin-top:-4px;
	}

	.prev a:after {
	    left:-3px;
	    border:5px solid transparent;
	    border-width:5px 7px;
	    border-right-color:#c55500;
	    margin-top:-4px;
	    background:transparent;
	}

	.prev a:hover:after, 
	.prev a:focus:after, 
	.prev a:active:after {
	    border-right-color:#730800;
	}
	